EXPO_PUBLIC_API_BASE_URL=https://nearfix-production-c0db.up.railway.app
EXPO_PUBLIC_AUTH_ENABLED=true
EXPO_PUBLIC_PAYMENTS_ENABLED=false
EXPO_PUBLIC_PRIVACY_POLICY_URL=https://nearfix-production-c0db.up.railway.app/legal/privacy
EXPO_PUBLIC_TERMS_URL=https://nearfix-production-c0db.up.railway.app/legal/terms
EXPO_PUBLIC_EAS_PROJECT_ID=
GOOGLE_MAPS_ANDROID_API_KEY=
