DATABASE_URL="postgresql://analog:analog@localhost:5432/analog?schema=public"
TEST_DATABASE_URL="postgresql://analog:analog@localhost:5432/analog_test?schema=public"
NODE_ENV="development"
DEVELOPMENT_AUTH_ENABLED="true"
ACCESS_TOKEN_SECRET="replace-with-at-least-32-random-characters"
PORT=4000
CORS_ORIGIN="*"
ACCESS_TOKEN_TTL_SECONDS=900
REFRESH_TOKEN_TTL_DAYS=30
